:root {
   --bg:linear-gradient(150deg, rgb(241, 241, 119) 50%, rgb(226, 109, 109) 50%);
   --shedow-stat: 0px 0px 15px 7px rgba(34, 60, 80, 0.2); 
   --shedow-act: 0px 0px 5px 4px rgba(34, 60, 80, 0.2);
   --btn-white: rgb(241, 241, 235);
   --btn-blue: rgb(141, 203, 230);
   --btn-deepblue: rgb(111, 187, 219);
   --browser-bg: rgb(233, 230, 230);
   --browser-grey: rgb(204, 203, 203);
   --browser-deepgrey: rgb(150, 148, 148);
   --red-tool: rgb(226, 17, 17);
   --yellow-tool: rgb(255, 136, 0);
   --green-tool: rgb(14, 112, 14);

}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

.content {
   width: 100%;
   height: 100%;
   position: absolute;
   background-image: var(--bg);
}

/* button styles start */

.button {
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translateX(-50%) translateY(-50%);
   padding: 10px 60px;
   background-color: var(--btn-white);
   border: 0;
   border-radius: 2px;
   box-shadow: var(--shedow-stat);
   transition: all 0.2s;

}

.button:hover,
:visited {
   background-color: var(--btn-blue);
}

.button:active {
   background-color:var(--btn-deepblue);
   box-shadow: var(--shedow-act);
}

/* button styles end */

/* browser styles start */
.browser {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateX(-50%) translateY(-50%);
   width: 900px;
   height: 600px;
   background-color: #fff;
   box-shadow: var(--shedow-stat);
   border-radius: 7px;
   overflow: hidden;
   display: none;
}

.browser.opened {
   display: block;
}


.browser__header {
   width: 100%;
   height: 40px;
   padding: 0;
   margin-bottom: 0;
   position: relative;
   top: 0;
   left: 0;
   background-color: var(--browser-bg);
}

.tools {
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   margin-left: 20px;
   align-content: center;
   justify-content: flex-start;
   align-items: center;
}

.tool {
   margin-right: 15px;
   width: 15px;
   height: 15px;
   border-radius: 50%;
}

.red{
   background-color: var(--red-tool);
   cursor: pointer;
}

.yellow {
   background-color: var(--yellow-tool);
}

.green {
   background-color: var(--green-tool) ;
}

.browser__banner {
   width: 100%;
   height: 280px;
   padding: ;
   margin: 40 auto;
   background-color: var(--browser-grey);
}

.heading {
   
   width: 180px;
   height: 30px;
   margin: 0 auto;
   background-color: var(--browser-deepgrey);
}

.paragraf {
   width: 70px;
   height: 30px;
   margin: 10px auto;
   background-color: var(--browser-deepgrey);
}

.browser__cards {
   height: 300px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 0px 90px;
}

.browser__card {
   width: 150px;
   height: 150px;
   background-color: var(--browser-grey);
   margin: 10px;
   padding: 10px 10px;
}

.browser__card-desc{
   width: 15px;
   height: 10px;
   background-color: var(--browser-grey);
}
/* browser styles end */

/* Media start */




/* Media end */

